.DS_Store
Thumbs.db

.idea/
*.sln.iml
*.userprefs

.idea/
*.iws
out/

*.user
*.userosscache
*.suo
*.sln.docstates

bin/
obj/
[Bb]uild/
[Ll]og/
[Ll]ogs/

*.nupkg
*.snupkg
packages/
.nuget/
project.lock.json
artifacts/

.tools/
.dotnet/

_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

.sln.DotSettings.user
.idea/.idea.URLShortener/.idea/shelf/
.idea/.idea.URLShortener/.idea/workspace.xml

*.sqlite-journal

*.log
*.tlog
*.tmp
*.temp

coverage*/
TestResult*/
*.trx
*.coverage
*.coveragexml

docker-data/
.env

secrets.json
appsettings.*.Local.json
